id: org.freedesktop.Sdk.Extension.cmakels
default-branch: 20.08
sdk: org.freedesktop.Sdk//20.08
runtime: org.freedesktop.Sdk
runtime-version: 20.08
build-extension: true
appstream-compose: false
modules:

  - name: cmakels
    buildsystem: simple
    build-options:
        build-args:
            - "--share=network"
    build-commands:
      - pip3 install --prefix=/usr/lib/sdk/cmakels .
      - mv /usr/lib/sdk/cmakels/bin/cmake-language-server /usr/lib/sdk/cmakels/bin/cmake-language-server-original
      - install -Dm 755 wrapper.sh /usr/lib/sdk/cmakels/bin/cmake-language-server
    sources:
      - type: git
        url: https://github.com/regen100/cmake-language-server
        branch: master
      - type: script
        dest-filename: wrapper.sh
        commands:
          - PYTHONPATH=/usr/lib/sdk/cmakels/lib/python3.8/site-packages /usr/lib/sdk/cmakels/bin/cmake-language-server-original

  - name: metadata
    buildsystem: simple
    build-commands:
      - install -Dm644 -t ${FLATPAK_DEST}/share/metainfo ${FLATPAK_ID}.metainfo.xml
      - appstream-compose --basename=${FLATPAK_ID} --prefix=${FLATPAK_DEST} --origin=flatpak ${FLATPAK_ID}
    sources:
      - type: file
        path: org.freedesktop.Sdk.Extension.cmakels.metainfo.xml
