name: build-and-push-to-repo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 0 0 * * 0

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      
      - name: Install flatpak-builder
        run: sudo apt-get install -y flatpak flatpak-builder
        
      - name: Add flathub remote
        run: sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
        
      - name: Configure GPG
        run: |
          mkdir -p gpg
          printf "$GPG_PRIVATE_KEY" | base64 --decode > private.key
          gpg --homedir gpg --import private.key
        env:
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

      #      - name: org.freedesktop.Sdk.Extension.clangd
      #        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.clangd "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.clangd/org.freedesktop.Sdk.Extension.clangd.yml

      - name: org.freedesktop.Sdk.Extension.cmakels
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.cmakels "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.cmakels/org.freedesktop.Sdk.Extension.cmakels.yml

      - name: org.freedesktop.Sdk.Extension.code-minimap
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.code-minimap "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.code-minimap/org.freedesktop.Sdk.Extension.code-minimap.yml

      - name: org.freedesktop.Sdk.Extension.debugpy
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.debugpy "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.debugpy/org.freedesktop.Sdk.Extension.debugpy.yml

      - name: org.freedesktop.Sdk.Extension.fzf
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.fzf "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.fzf/org.freedesktop.Sdk.Extension.fzf.yml
      
      - name: org.freedesktop.Sdk.Extension.jdtls
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.jdtls "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.jdtls/org.freedesktop.Sdk.Extension.jdtls.yml
      
      - name: org.freedesktop.Sdk.Extension.jsonls
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.jsonls "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.jsonls/org.freedesktop.Sdk.Extension.jsonls.yml

      - name: org.freedesktop.Sdk.Extension.pyright
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.pyright "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.pyright/org.freedesktop.Sdk.Extension.pyright.yml

      - name: org.freedesktop.Sdk.Extension.rust-analyzer
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.rust-analyzer "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.rust-analyzer/org.freedesktop.Sdk.Extension.rust-analyzer.yml

      - name: org.freedesktop.Sdk.Extension.texlab
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.texlab "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.texlab/org.freedesktop.Sdk.Extension.texlab.yml

      - name: org.freedesktop.Sdk.Extension.universal-ctags
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.universal-ctags "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.universal-ctags/org.freedesktop.Sdk.Extension.universal-ctags.yml

      - name: org.freedesktop.Sdk.Extension.vimls
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.vimls "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.vimls/org.freedesktop.Sdk.Extension.vimls.yml

      - name: org.freedesktop.Sdk.Extension.yamlls
        run: sudo flatpak-builder --repo=repo --force-clean --install-deps-from=flathub org.freedesktop.Sdk.Extension.yamlls "$GITHUB_WORKSPACE"/nvim-flatpak-extensions/org.freedesktop.Sdk.Extension.yamlls/org.freedesktop.Sdk.Extension.yamlls.yml
      
      - name: Sign repo
        run: |
          sudo flatpak build-sign repo --gpg-sign="$GPG_PUBLIC_KEY" --gpg-homedir=gpg
          sudo flatpak build-update-repo repo --gpg-sign="$GPG_PUBLIC_KEY" --gpg-homedir=gpg
          sudo sh -c "gpg --homedir=gpg --export $GPG_PUBLIC_KEY > repo/key.gpg"
        env:
          GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
      
      - name: Push to repo
        uses: cpina/github-action-push-to-another-repository@master
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: repo
          destination-github-username: 'Ma1thew'
          destination-repository-name: 'nvim-flatpaks'
          target-branch: 'main'
